body {
    margin: 30px auto;
    width: 100%;
    background: url(../public/img/cream_dust.png) repeat 0 0;
}

nav ul {
  margin-bottom: 20px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

nav ul li {
  font-size: 16px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.container {
    margin-top: -10px;
    margin-bottom: 20px
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 13px;
    width: 90%;
    margin-left: 5%;
}

footer ul {
    margin-top: 10px;
}

h1 {
    font-family: 'Arvo', Georgia, Times, serif;
}

p, li {
    font-family: 'Droid Serif', Georgia, Times, serif;
}

.appPic {
    width: 100%;
/*    position:absolute;
    top:0;
    bottom:0;
    margin:auto;*/
}

.blurb h1 {
    text-align: center;
}

.blurb p {
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
